<!DOCTYPE html>
<!-- load static -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJRNFS97JR"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WJRNFS97JR');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume --> Interview Questions using GPT4</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <!-- import bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- import jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            form, input  {
                margin: 0 auto;

            }

            div#loading {
                width: 100px;
                height: 100px;
                display: none;
                background: url(/static/loader.gif) no-repeat;
                cursor: wait;
                position: absolute;
                left: 50%;
                top: 50%;
                }
            body {
                background-color: #f2f2f2;
                text-align: center;
                padding-top: 1%;
            }
        </style>
        <script type="text/javascript">// <![CDATA[
            function loading(){
                $("#loading").show();
                $("#loading-text").show();
                $("#container").hide();       
            }
    // ]]>
    </script>
            
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="loading-text" hidden>
            <h3>Don't leave yet! We're generating your questions...</h3>
            <h3>Estimated time: 30 seconds to 1 minute</h3>
        </div>            
        <div id="loading">
        </div>
        <div id="container">
        
        {% if error==True %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Error!</strong> Try again or wait for some time...
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        
        <div class="col-md-1">
        </div>
        <div class="col-md-10" id="content">
        <h1>ResumeQuestionsGPT: Generate Interview Questions from your resume using GPT4</h1>
        </div>
        <div class="col-md-1">
        </div>
        <br>
        <div class="col-md-12" id="content">
        <h3>Upload your resume below and click the button to generate probable interview questions based on your resume!</h3>
        <h4>by Srikar Kashyap Pulipaka (<a href="mailto:spulipa@iu.edu">spulipa@iu.edu</a> | <a href="https://linkedin.com/in/srikarkashyap">LinkedIn</a> | <a href="/static/srikarkashyapresume.pdf">Resume</a>)</h4>
        <br><br><br>
        <h4> You can add your context in the additional instructions text-box below. </h4>
        <form action="questions" method="post" enctype="multipart/form-data">
            <input type ="file" name="resume" id="resume" accept=".pdf"> <br>
            <br>
            Questions Category: 
            <input type="radio" id="category" name="category" value="technical" checked>
            <label for="technical">Technical</label>
            <input type="radio" id="category" name="category" value="behavioral">
            <label for="behavioral">Behavioral</label><br>
            <br>
            <!-- info box over hover-->
            <div title="Normal: Remove Email IDs, Phone Numbers, SSN, etc. Strict: use NLP to try and remove names, places, etc. ">Anonymization Level:
            <input type="radio" id="anonymization" name="anonymization" value="normal" checked>
            <label for="normal">Normal</label>
            <input type="radio" id="anonymization" name="anonymization" value="strict">
            <label for="strict">Strict</label></div>
            <small><b>Normal</b>: Remove Email IDs, Phone Numbers, SSN, etc. <b>Strict</b>: use NLP to try and remove names, places, etc.</small>
            <!--<br>-->
            <!-- checkbox for show preview -->
            <!--- <input type="checkbox" id="double-check" name="double-check" value="True">
            <label for="double-check">Show Parsed/Anonymized Resume before submitting </label><br> -->
            <br><br>
            Additional Instructions: <input type ="text" name="additional-text" id="additional-text" placeholder="Focus on work experience, focus on projects, etc."> <br> <br>
            <br> <br>
           <!-- boostrap submit button -->
            <input type="submit" class="btn btn-primary" value="Generate Questions" onclick="loading();">
        </form>
        <br><br>
        <p> <b> Note: </b> Neither the OpenAI API nor this website store your resume/details. The source code of this website is public at <a href="https://github.com/SrikarKashyap/ResumeQuestionsGPT">GitHub</a> </p>
    </div>
        </div>
    </body>
</html>