<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WJRNFS97JR"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WJRNFS97JR');
        </script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Probable Questions</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src=
        "//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js">
        </script>
        <script src=
        "//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js">
        </script>

        <script>
            $(document).ready(function() {
                $("#btnExport").click(function() {
                    $("#results").table2excel({
                        exclude: ".noExport",
                        filename: "questions.xls",
                    });
                });
            });
            </script>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container">
            <div class="jumbotron">
                <h1>Probable Questions</h1>
                <p>Based on your resume, ChatGPT (GPT4) has generated the following probable questions that you may be asked in an interview.</p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <!-- iterate through questions list and display in table using Jinja -->
                    <!-- run jquery on button click -->
                    <button id="btnExport" class="btn btn-success">Export to Excel</button>
                    <table class="table table-striped" id="results">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Category</th>
                                <th>Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- check if length of questions is zero -->
                            {% if questions|length == 0 %}
                            <tr>
                                <td colspan="3">No questions generated. Please try again.</td>
                            </tr>
                            <!-- if not, iterate through questions and display in table -->
                            {% else %}
                            {% for question in questions %}
                            <tr>
                                <td>{{ question.question }}</td>
                                <td>{{ question.category }}</td>
                                <td>{{ question.skills }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    
                </div>
            </div>
            <div class = "row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <h3> Time Taken by Step</h3>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Time Taken (in seconds)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in durations.keys()  %}
                            <tr>
                                <td>{{ i }}</td>
                                <td>{{ durations[i] }}</td>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>